<div class="container-fluid grid-header">
  <div class="row-fluid" style="">
      <div class="col-md-3">ID</div>
      <div class="col-md-3">Name</div>
      <div class="col-md-3">ID</div>
      <div class="col-md-3">Name</div>
  </div>
</div>
<div class="container foo" snInfiniteScroll (scrollEnd)="onScroll()" >
      <div class="row cat-row"  *ngFor="let cat of cats; let i = index; let even = even; " >
        <span *ngIf="even">
          <div class="col-md-3"><p>{{cats[i].id}}</p></div>
          <div class="col-md-3"><img style="height: 150px;width:150px;" src="{{cats[i].url}}" /></div>
          <div class="col-md-3"><p>{{cats[i+1].id}}</p></div>
          <div class="col-md-3"><img style="height: 150px;width:150px;" src="{{cats[i+1].url}}" /></div>
        </span>
      </div>
</div>
