<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository />
	<interactiveMode />
	<usePluginRegistry />
	<offline />
	<pluginGroups />
	<servers>
		<server>
			<id>TomcatServer</id>
			<username>admin</username>
			<password>admin</password>
		</server>
		<server>
			<id>PreLiveTomcat</id>
			<username>humanoo-jenkins</username>
			<password>d68MKfr</password>
				
		</server>
	</servers>
	<mirrors>
		<mirror>
			<id>maven.org</id>
			<name>PlanetMirror Australia</name>
			<url>http://repo1.maven.org/maven2</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>

	<proxies />
	<profiles />
	<activeProfiles />
</settings>
